<form action="/coin_combination_result">
  <input type="text" name="coin_amount">
  <select name="missing_coin">
    <option value=""></option>
    <option value="quarter">Quarter</option>
    <option value="dime">Dime</option>
    <option value="nickel">Nickel</option>
    <option value="penny">Penny</option>
  </select>
  <input type="submit" value="Submit">
</form>
